* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}
form {
    background-color: lightgray;
    width: 80%;
    height: 100vh;
    padding: 20px;
    padding-top: 0;

}
header {
    border-top: 10px solid slateblue;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
    
}
.input-wrap{
    /* border: 1px solid; */
    padding: 30px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}
.input-wrap>.text {
    border-style: none;
    border-bottom: 1px solid slateblue;
    width: 90%;
    padding: 10px;
}
.input-wrap>.radio {
    margin-top: 10px;
}
.input-wrap>label {
    padding: 3px;
    font-size: smaller;
}
.input-wrap>div>label {
    padding: 3px;
}
.input-label {
    font-weight: bold;
    font-size: large;
}
.submit {
    margin: 10px;
}
.submit>button {
    border-style: none;
    background-color: slateblue;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.hasil {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.hasil table {
    margin: 10px;
}